.login-container {
    height: 100vh;
    width: fit-content;
    display: flex;
    align-items: center;
    margin: auto;
    .card {
        min-width: 20em;
        background-color: rgba(225,225,225,0.6);
        .login_title {
            color: white;
        }
        .general-text {
            color: white;
            font-size: 14px;
            a {
                color: white;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}