header {
  background-color:white;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: flex;
  justify-content: space-between;
  .firstGroup {
    display: flex;
    align-items: center;
    gap: 1em;
    span {
      font-size: 2.5em;
      cursor: pointer;
      &:hover {
        color: var(--white);
        border-radius: 8px;
        background-color: var(--blue);
      }
    }
    img {
      width: 10em;
    }
  }
  .search-bar {
    width: 50%;
    align-self: center;
  }
  ul {
    list-style: none;
    display: flex;
    gap: 1.5em;
    padding: 0;
    li,
    li a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
      padding: 4px;
      cursor: pointer;
    }
    li {
      &:hover {
        a{
        color: var(--white);
        }
        border-radius: 8px;
        background-color: var(--blue);
      }
    }
    .exit_app {
      &:hover {
        color: var(--white);
        border-radius: 8px;
        background-color: var(--redcherry);
      }
    }
  }
}
.header_searchbar_container{
  padding: 0.5em 1em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}