div.homeContainer {
    background-color: #F7F8F7;
    display: flex;

    div.left,
    div.right {
        flex: 1;
    }

    div.appointmentBox {
        width: 29em;
        height: 10%;

        div.box {

            height: 13em;
            border: 10px solid red;

        }

        ul {
            display: flex;
            justify-content: flex-end;
            list-style: none;
            gap: 1em;
            button{
                padding: 8px;
                color: black;
                background-color: white;
            }
            
            button#confirm{

                border: 1px solid #4eda53;
                &:hover{
                    background-color: #4eda53 ;
                    color: white;
                }

            }
            button#modify{

                border: 1px solid #F7DC6F;
                &:hover{
                    background-color: #F7DC6F ;
                    color: white;
                }
            }
            button#cancel{

                border: 1px solid red;
                &:hover{
                    background-color: red ;
                    color: white;
                }
            }
        
        }

    }









}