footer{
    background-color:#181a1c;
    color:  #F0F3F4;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 40px;
   

    li{
        background-color:none;
        padding: 5px;
        margin: 3px;
        
        &:hover{
            background-color:#464748;
        }
    }
    ul{
    list-style: none;
    // font-size: center;
    // position: center;
    }
}